<h1>Create a new book suggestion!</h1>
<%= render partial: "bookform", locals: { action_name: "create" } %>

<ul class="button-group">
  <li class="button"><%= button_to 'View all book suggestions', booksindex_path, :class => "button", method: :get %></li>
  <li class="button"><%= button_to "Back to Meeeeedium's home", homepageindex_path, :class => "button", method: :get %></li>
</ul>
